/* Navigation Styles */
.nav {
  height: 96px;
  margin: auto;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styles for button */
.button {
  text-decoration: none;
  width: 183px;
  height: 56px;
  background-color: #55c8ed;
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.btn-outline {
  text-decoration: none;
  width: 175px;
  height: 56px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
}

/* 3D Button */
.button-3d {
  font-size: 18px;
  height: 56px;
  text-decoration: none;
  background-color: #55c8ed;
  cursor: pointer;
  border: 1px solid;
  padding: 0.5em 1em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-3d:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-3d {
    padding: 0.25em 0.75em;
  }
}
